gunicorn
dash
pandas
numpy
dash_table
# logging
plotly
plotly
dash_core_components
dash_html_components
dash_bootstrap_components
dash
Python.optimize_price
Python.optimize_quantity
dash_daq
matplotlib
seaborn
statsmodels
